include variables/versions.pug

- var title = "Dashboard";

doctype html
html(lang='en')

	head

		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='color-scheme', content='light dark')

		title #{title} - Bootstrap Administrator Console

		include content/style.pug

	body

		button(type='button' id='theme-toggle' class='btn btn-primary') switch theme

		include content/script.pug
