ul#nav-menu.metismenu
	li.mm-active
		a(href='index.html') Dashboard
	li
		a.has-arrow(href='#', aria-expanded='false') Bootstrap components
		ul
			li
				a(href='bootstrap/accordion') Accordion
			li
				a(href='bootstrap/alerts') Alerts
			li
				a(href='bootstrap/badge') Badge
			li
				a(href='bootstrap/breadcrumb') Breadcrumb
			li
				a(href='bootstrap/buttons') Buttons
			li
				a(href='bootstrap/button_group') Button group
			li
				a(href='bootstrap/card') Card
			li
				a(href='bootstrap/close_button') Close button
			li
				a(href='bootstrap/collapse') Collapse
			li
				a(href='bootstrap/dropdowns') Dropdowns
			li
				a(href='bootstrap/list_group') List group
			li
				a(href='bootstrap/modal') Modal
			li
				a(href='bootstrap/nav_tabs') Navs & tabs
			li
				a(href='bootstrap/offcanvas') Offcanvas
			li
				a(href='bootstrap/pagination') Pagination
			li
				a(href='bootstrap/placeholders') Placeholders
			li
				a(href='bootstrap/popovers') Popovers
			li
				a(href='bootstrap/progress') Progress
			li
				a(href='bootstrap/spinners') Spinners
			li
				a(href='bootstrap/toast') Toast
			li
				a(href='bootstrap/tooltips') Tooltips
	li
		a.has-arrow(href='#', aria-expanded='false') Optional components
		ul
			li
				a(href='optional/chartjs') Chart.js
