div(class='offcanvas offcanvas-end', tabindex='-1', id='offcanvasMessage', aria-labelledby='offcanvasMessageLabel')
	div(class='offcanvas-header')
		h5(id='offcanvasRightLabel') Message
		button(type='button', class='btn-close text-reset', data-bs-dismiss='offcanvas', aria-label='Close')
	div(class='offcanvas-body px-0')
		div(class='list-group')
			+listGroup('List group item heading', '3 days ago', 'Some placeholder content in a paragraph', 'And some small print.')
			+listGroup('List group item heading', '3 days ago', 'Some placeholder content in a paragraph', 'And some small print.')

div(class='offcanvas offcanvas-end', tabindex='-1', id='offcanvasInfo', aria-labelledby='offcanvasInfoLabel')
	div(class='offcanvas-header')
		h5(id='offcanvasRightLabel') Information
		button(type='button', class='btn-close text-reset', data-bs-dismiss='offcanvas', aria-label='Close')
	div(class='offcanvas-body px-0')
		div(class='list-group')
			+listGroup('List group item heading', '3 days ago', 'Some placeholder content in a paragraph', 'And some small print.')
			+listGroup('List group item heading', '3 days ago', 'Some placeholder content in a paragraph', 'And some small print.')

div(class='offcanvas offcanvas-end', tabindex='-1', id='offcanvasTask', aria-labelledby='offcanvasTaskLabel')
	div(class='offcanvas-header')
		h5(id='offcanvasRightLabel') Task
		button(type='button', class='btn-close text-reset', data-bs-dismiss='offcanvas', aria-label='Close')
	div(class='offcanvas-body px-0')
		div(class='list-group')
			+listGroup('List group item heading', '3 days ago', 'Some placeholder content in a paragraph', 'And some small print.')
			+listGroup('List group item heading', '3 days ago', 'Some placeholder content in a paragraph', 'And some small print.')

div(class='offcanvas offcanvas-end', tabindex='-1', id='offcanvasUser', aria-labelledby='offcanvasUserLabel')
	div(class='offcanvas-header')
		h5(id='offcanvasRightLabel') John Doe
		button(type='button', class='btn-close text-reset', data-bs-dismiss='offcanvas', aria-label='Close')
	div(class='offcanvas-body px-0')
