// Popper core JS
script(src='../dist/popper/js/popper.min.js')

// Bootstrap core JS
script(src='../dist/bootstrap/js/bootstrap.min.js')

// BAC core JS
script(src='../dist/bac/js/bacscript.min.js')
